#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.user-input {
  margin: 2rem 0;
  padding: 0.1rem 2rem;
  border: black 1px solid;  
}

.filter-button {
  display: flex;
  gap:0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #f2f0f0;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todo-content {
  margin: 1rem;
  padding: 0.5rem;
  border: black 1px solid;
  border-radius: 0.5rem;
  text-align: left;
}

.check-button{
  margin: 0.5rem;
  padding: 0.5rem;  
}

input:checked + label {
  text-decoration: line-through;
  color: #888;
}

.todo-status {  
  text-align: right;
  margin: 0 0 0 1rem;
  font-size: 0.8rem;
  color: gray;
}