#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.user-input {
  margin: 2rem 0;
  padding: 0.1rem 2rem;
  border: black 1px solid;
  border-radius: 1rem;
}

.todo-item {
  margin: 1rem;
  padding: 0.5rem;
  border: black 1px solid;
  border-radius: 0.5rem;
  text-align: left;
}

.check-button{
  margin: 0.5rem;
  padding: 0.5rem;  
}