#root {
  max-width: 1280px;
  margin: 2rem 4rem;
}

.header {
  text-align: left;
  color: #e34432;
}

form {
  display: inline-flex;
  gap: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:invalid {
  border: 2px solid #e34432;
  background-color: #fff8f6;
}
